

<section class="content-header">
    <h1>
        {$header ?: lang(admin.title) }

        <small>{$description ?: lang('admin.description')}</small>
    </h1>

    <!-- breadcrumb start -->

    {if ($breadcrumb)}
    <ol class="breadcrumb" style="margin-right: 30px;">
        <li><a href="{:admin_url('/')}"><i class="fa fa-dashboard"></i> {:__('Home')}</a></li>

        {foreach $breadcrumb as $item}

        {if $loop->last}
        <li class="active">
            {php}
            if (Arr::has($item, 'icon')){
            echo "<i class='fa fa-".$item['icon']."'></i>";
            }
            {/php}
            {:$item['text']}
        </li>
        {else /}
        <li>
            {php}
            if (Arr::has($item, 'url')){
            echo '<a href="'.admin_url(Arr::get($item, "url")).'">';
                if (Arr::has($item, 'icon')){
                echo '<i class="fa fa-'.$item['icon'].'"></i>';
                }
                echo $item['text'];
            echo '</a>';
            }else{
            if (Arr::has($item, 'icon')){
            echo '<i class="fa fa-'.$item['icon'].'"></i>';
            }
            echo $item['text'];
            }
            {/php}
        </li>
        {/if}
        {/foreach}
    </ol>
    {elseif null!=config('admin.enable_default_breadcrumb') /}
    <ol class="breadcrumb" style="margin-right: 30px;">
        <li><a href="{:admin_url('/')}"><i class="fa fa-dashboard"></i> {:__('Home')}</a></li>
        {php}
        {/php}
    </ol>
    {/if}

    <!-- breadcrumb end -->

</section>

<section class="content">

    {include file='admin.partials.alerts@@admin_view_path' /}
    {include file='admin.partials.exception@@admin_view_path' /}
    {include file='admin.partials.toastr@@admin_view_path' /}

    {if ($_view_)}
    @include($_view_['view'], $_view_['data'])
    {else /}
    {:$_content_}
    {/if}

</section>
